<nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">TEMPLATE 2</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">_anasayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">_gizlilik</a>
                </li>
            </ul>
            <!-- Sağ Taraf: Template Butonları -->
            <div class="d-flex">
                <a href="/Home/Index?id=1" class="btn btn-link me-2">Template 1</a>
                <a href="/Home/Index?id=2" class="btn btn-link">Template 2</a>
                <a href="/Home/Index?id=3" class="btn btn-link text-white">Template 3</a>
            </div>
        </div>
    </div>
</nav>
